@import url('https://fonts.googleapis.com/css?family=Pattaya&display=swap');
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-link {
    color: #09d3ac;
}

.App.Unauthenticated {
    background: #CF3636;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form-container,
#registration-form-container {
    width: 80%;
}

#login-form,
#registration-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#login-form input,
#registration-form input {
    padding: 1em;
    width: 100%;
    margin: .5em .5em 1em;
    border: none;
    background: #CF3636;
    border: solid 2px #ffffff;
    color: #fff;
}

input[type=text] {
    color: #fff;
    font-weight: bold;
}

input::placeholder {
    color: #ffffff;
}