@import url('https://fonts.googleapis.com/css?family=Pattaya&display=swap');
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-link {
    color: #09d3ac;
}

#login-form,
#registration-form {
    display: flex;
    flex-direction: column;
}

#login-form input,
#registration-form input {
    padding: 1em;
    margin: .5em .5em 1em;
    border: none;
}